server:
  servlet:
    context-path: /api

spring:
  application:
    name: wedding-invitation

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 30000
      validation-timeout: 5000
      max-lifetime: 1800000

  jpa:
    Hibernate:
      ddl-auto: ${JPA_DDL_AUTO}
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    open-in-view: false

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}